# Application Settings
APP_NAME=Image Similarity API
APP_VERSION=1.0.0

# Server Settings
HOST=0.0.0.0
PORT=8000

# Model Settings
MODEL_NAME=openai/clip-vit-base-patch32
# cpu or cuda
DEVICE=cpu

# Similarity Thresholds
# Minimum top similarity score threshold
TAU1=0.30
# Minimum margin threshold
TAU2=0.04

# Oracle Object Storage Settings
OCI_CONFIG_PROFILE=DEFAULT
OCI_NAMESPACE=axomqvbfksmf
OCI_BUCKET_NAME=test-storage
OCI_REGION=ap-chuncheon-1


# Oracle Object Storage Config
OCI_USER_OCID=asdfasdf
OCI_FINGERPRINT=asdfasdf
OCI_TENANCY_OCID=asdfasdf
OCI_REGION=asdfasdf
# encode to base64
OCI_PRIVATE_KEY=asdfasdf